* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    border-radius: 0;
    background-color: unset;
    border: none;
    width: 100%;
    text-align: unset;
    cursor: pointer;
}
