.message-box {
    width: 100%;
    height: calc(100vh - 100px);

    &__list {
        display: flex;
        flex-direction: column;
        height: calc(100% - 80px);
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: magenta transparent;
        margin-right: -20px;
        padding-right: 20px;
    }

    &__message-item {
        background: magenta;
        padding: 10px;
        border-radius: 16px;
        width: fit-content;

        & + & {
            margin-top: 15px;
        }

        &.right {
            align-self: end;
            background: #FFFFFF;
            color: magenta;
        }
    }

    &__input-wrapper {
        display: flex;
        height: 40px;
        gap: 20px;
        margin-top: 40px;
    }

    &__input {
        font-size: 20px;
        border: none;
        border-bottom: 1px solid magenta;
        padding: 10px 0;
        background-color: transparent;
        color: #FFF;
        width: 100%;
        height: 100%;

        &:focus {
            background-color: transparent !important;
            border: none;
            outline: none;
            border-bottom: 1px solid lightgreen;
            color: lightgreen;

            &::placeholder {
                color: lightgreen;
            }
        }
    }

    &__warning {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
    }

    &__send {
        display: flex;
        cursor: pointer;
        color: magenta;
        width: auto;
    }
}
