.chat-list-item {
    position: relative;
    display: flex;
    font-size: 1em;
    color: white;
    column-gap: 10px;
    padding: 4px;
    border-radius: 8px;

    &.active {
        background-color: cadetblue;
    }

    & + & {
        margin-top: 15px;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        background-color: magenta;
        border-radius: 100px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__message {
        font-size: .8em;
        color: lightgray;
    }

    &__time {
        font-size: .7em;
    }

    &__meta {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10px;
        right: 15px;
        row-gap: 5px;
    }

    &__notification {
        width: 15px;
        height: 15px;
        font-size: .7em;
        background-color: darkgrey;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}
